minhap-cliente-operacion-sim/src/main/resources/peticionOperaciones.xsd

<?xml version='1.0' encoding='UTF-8'?><schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://misim.redsara.es/misim-bus-webapp/peticion" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://misim.redsara.es/misim-bus-webapp/peticion" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<element name="PeticionLote">
		<complexType>
			<sequence>
				<element maxOccurs="1" minOccurs="1" name="Usuario" type="xsd:string"/>
				<element maxOccurs="1" minOccurs="1" name="Password" type="xsd:string"/>
				<element maxOccurs="1" minOccurs="1" name="Lote" type="xsd:string"/>
			</sequence>
		</complexType>
	</element>
	
	<element name="PeticionMensaje">
		<complexType>
			<sequence>
				<element maxOccurs="1" minOccurs="1" name="Usuario" type="xsd:string"/>
				<element maxOccurs="1" minOccurs="1" name="Password" type="xsd:string"/>
				<element maxOccurs="1" minOccurs="1" name="Mensaje" type="impl:mensaje"/>
			</sequence>
		</complexType>
	</element>

	<complexType name="mensaje">
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="IdMensaje" type="xsd:int"/>
			<element maxOccurs="1" minOccurs="0" name="IdExterno" type="xsd:string"/>
		</sequence>
	</complexType>
	
</schema>