minhap-cliente-operacion-sim/src/main/resources/respuestaOperaciones.xsd

<?xml version='1.0' encoding='UTF-8'?><schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://misim.redsara.es/misim-bus-webapp/respuesta" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://misim.redsara.es/misim-bus-webapp/respuesta" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<element name="Respuesta">
		<complexType>
			<sequence>
				<element maxOccurs="1" minOccurs="1" name="Status" type="impl:responseStatusType"/>
			</sequence>
		</complexType>
	</element>

	<complexType name="responseStatusType">
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="StatusCode" type="string"/>
			<element maxOccurs="1" minOccurs="1" name="StatusText" type="string"/>
			<element maxOccurs="1" minOccurs="0" name="Details" type="string"/>
		</sequence>
	</complexType>
</schema>