misim-bus/misim-bus-core/src/main/resources/wsdl/recepcion-sim/enviarMensajesSIM.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"  
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:impl="http://misim.redsara.es/misim-bus-webapp/"  
	xmlns:ns1="http://misim.redsara.es/misim-bus-webapp/peticion" 
	xmlns:ns2="http://misim.redsara.es/misim-bus-webapp/respuesta"
	targetNamespace="http://misim.redsara.es/misim-bus-webapp/">
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.map.es/xml-schemas">
			<import namespace="http://misim.redsara.es/misim-bus-webapp/peticion" schemaLocation="peticion.xsd"/>
			<import namespace="http://misim.redsara.es/misim-bus-webapp/respuesta" schemaLocation="respuesta.xsd"/>
		</schema>
	</wsdl:types>
	<wsdl:message name="enviarSMSPeticion">
		<wsdl:part name="peticion" element="ns1:Peticion"/>
	</wsdl:message>
	<wsdl:message name="enviarSMSRespuesta">
		<wsdl:part name="respuesta" element="ns2:Respuesta"/>
	</wsdl:message>
	<wsdl:message name="enviarEmailPeticion">
		<wsdl:part name="peticion" element="ns1:Peticion"/>
	</wsdl:message>
	<wsdl:message name="enviarEmailRespuesta">
		<wsdl:part name="respuesta" element="ns2:Respuesta"/>
	</wsdl:message>
	<wsdl:message name="enviarPushPeticion">
		<wsdl:part name="peticion" element="ns1:Peticion"/>
	</wsdl:message>
	<wsdl:message name="enviarPushRespuesta">
		<wsdl:part name="respuesta" element="ns2:Respuesta"/>
	</wsdl:message>
	<wsdl:portType name="EnvioMensajesServiceWSBindingPortType">
		<wsdl:operation name="enviarSMS">
			<wsdl:input name="PeticionSMS" message="impl:enviarSMSPeticion"/>
			<wsdl:output name="RespuestaSMS" message="impl:enviarSMSRespuesta"/>
		</wsdl:operation>
		<wsdl:operation name="enviarEmail">
			<wsdl:input name="PeticionEmail" message="impl:enviarEmailPeticion"/>
			<wsdl:output name="RespuestaEmail" message="impl:enviarEmailRespuesta"/>
		</wsdl:operation>
		<wsdl:operation name="enviarPush">
			<wsdl:input name="PeticionPush" message="impl:enviarPushPeticion"/>
			<wsdl:output name="RespuestaPush" message="impl:enviarPushRespuesta"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="EnvioMensajesServiceBinding" type="impl:EnvioMensajesServiceWSBindingPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="enviarSMS">
			<soap:operation soapAction="enviarSMS" style="document"/>
			<wsdl:input>
				<soap:body parts="peticion" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="respuesta" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="enviarEmail">
			<soap:operation soapAction="enviarEmail" style="document"/>
			<wsdl:input>
				<soap:body parts="peticion" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="respuesta" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="enviarPush">
			<soap:operation soapAction="enviarPush" style="document"/>
			<wsdl:input>
				<soap:body parts="peticion" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="respuesta" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="EnvioMensajesService">
		<wsdl:port name="EnvioMensajesServicePort" binding="impl:EnvioMensajesServiceBinding">
<!-- 			<soap:address location="http://des-misim.redsara.es:8081/misim-bus-webapp/EnvioMensajesService"/> -->
			<soap:address location="http://localhost:8081/misim-bus-webapp/EnvioMensajesService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
