PlataformaMensajeria/src/main/webapp/WEB-INF/wsdl/saludo.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions name="Saludo"
	targetNamespace="http://ws.mpr.es/saludo" xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.mpr.es/saludo"
	xmlns:x1="http://ws.mpr.es/saludo/types" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<schema targetNamespace="http://ws.mpr.es/saludo/types"
			xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.mpr.es/saludo/types"
			elementFormDefault="qualified">

			<simpleType name="miTipoString">
				<restriction base="string">
					<maxLength value="30" />
				</restriction>
			</simpleType>

			<element name="saludoIn">
				<complexType>
					<sequence>
						<element name="requestType" type="tns:miTipoString" />
					</sequence>
				</complexType>
			</element>
			<element name="saludoReturn">
				<complexType>
					<sequence>
						<element name="responseType" type="string" />
					</sequence>
				</complexType>
			</element>
		</schema>
	</wsdl:types>
	<wsdl:message name="saludoRequest">
		<wsdl:part element="x1:saludoIn" name="in" />
	</wsdl:message>
	<wsdl:message name="saludoResponse">
		<wsdl:part element="x1:saludoReturn" name="out" />
	</wsdl:message>

	<wsdl:portType name="Saludar">

		<wsdl:operation name="saludar">
			<wsdl:input message="tns:saludoRequest" name="saludoRequest" />
			<wsdl:output message="tns:saludoResponse" name="saludoResponse" />
		</wsdl:operation>

	</wsdl:portType>
	<wsdl:binding name="Saludar_SOAPBinding" type="tns:Saludar">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="saludar">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="saludoRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="saludoResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>


	</wsdl:binding>

	<wsdl:service name="SaludarService">
		<wsdl:port binding="tns:Saludar_SOAPBinding" name="SaludarPort"/>
	</wsdl:service>

</wsdl:definitions>

