PlataformaMensajeria/src/main/webapp/WEB-INF/wsdl/saludo_wss10_cert.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions name="Saludo" targetNamespace="http://ws.mpr.es/saludo"
	xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://ws.mpr.es/saludo" xmlns:x1="http://ws.mpr.es/saludo/types"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsp="http://www.w3.org/ns/ws-policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
	<wsdl:types>
		<schema targetNamespace="http://ws.mpr.es/saludo/types" xmlns="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://ws.mpr.es/saludo/types" elementFormDefault="qualified">

			<simpleType name="miTipoString">
				<restriction base="string">
					<maxLength value="30" />
				</restriction>
			</simpleType>

			<element name="saludoIn">
				<complexType>
					<sequence>
						<element name="requestType" type="tns:miTipoString" />
					</sequence>
				</complexType>
			</element>
			<element name="saludoReturn">
				<complexType>
					<sequence>
						<element name="responseType" type="string" />
					</sequence>
				</complexType>
			</element>
		</schema>
	</wsdl:types>
	<wsdl:message name="saludoRequest">
		<wsdl:part element="x1:saludoIn" name="in" />
	</wsdl:message>
	<wsdl:message name="saludoResponse">
		<wsdl:part element="x1:saludoReturn" name="out" />
	</wsdl:message>

	<wsdl:portType name="Saludar">

		<wsdl:operation name="saludar">
			<wsdl:input message="tns:saludoRequest" name="saludoRequest" />
			<wsdl:output message="tns:saludoResponse" name="saludoResponse" />
		</wsdl:operation>

	</wsdl:portType>
	<wsdl:binding name="Saludar_SOAPBinding" type="tns:Saludar">
		<wsp:PolicyReference URI="#wss10_cert_policy" />
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="saludar">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="saludoRequest">
				<wsp:PolicyReference
					URI="#wss10_cert_policy_input" />
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="saludoResponse">
				<wsp:PolicyReference 
					URI="#wss10_cert_policy_output" />
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>


	</wsdl:binding>

	<wsdl:service name="SaludarService">
		<wsdl:port binding="tns:Saludar_SOAPBinding" name="SaludarPort" />
	</wsdl:service>

	<wsp:UsingPolicy></wsp:UsingPolicy>

	<wsp:Policy wsu:Id="wss10_cert_policy">
		<wsp:ExactlyOne>
			<wsp:All>
				<sp:AsymmetricBinding>
					<wsp:Policy>
						<sp:AlgorithmSuite>
							<wsp:Policy>
								<sp:Basic128 />
							</wsp:Policy>
						</sp:AlgorithmSuite>
						<sp:IncludeTimestamp />
						<sp:InitiatorToken>
							<wsp:Policy>
								<sp:X509Token
									sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
									<wsp:Policy>
										<sp:WssX509V3Token10 />
									</wsp:Policy>
								</sp:X509Token>
							</wsp:Policy>
						</sp:InitiatorToken>
						<sp:Layout>
							<wsp:Policy>
								<sp:Strict />
							</wsp:Policy>
						</sp:Layout>
						<sp:OnlySignEntireHeadersAndBody />
						<sp:RecipientToken>
							<wsp:Policy>
								<sp:X509Token
									sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Never">
									<wsp:Policy>
										<sp:RequireIssuerSerialReference />
										<sp:WssX509V3Token10 />
									</wsp:Policy>
								</sp:X509Token>
							</wsp:Policy>
						</sp:RecipientToken>
					</wsp:Policy>
				</sp:AsymmetricBinding>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>

	<wsp:Policy wsu:Id="wss10_cert_policy_input">
		<wsp:ExactlyOne>
			<wsp:All>
				<sp:SignedParts>
					<sp:Body />
				</sp:SignedParts>
				<sp:EncryptedParts>
					<sp:Body />
				</sp:EncryptedParts>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsp:Policy wsu:Id="wss10_cert_policy_output">
		<wsp:ExactlyOne>
			<wsp:All>
				<sp:SignedParts>
					<sp:Body />
				</sp:SignedParts>
				<sp:EncryptedParts>
					<sp:Body />
				</sp:EncryptedParts>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>

</wsdl:definitions>

