misim-bus/misim-bus/misim-bus-webapp/src/main/webapp/WEB-INF/wsdl/recepcion-bt/wsdl_recepcion_sms.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:message-schema="http://i3g.com/schema/SiroccoPushService" xmlns:message-service="http://i3g.com/sirocco/SiroccoPushService" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://i3g.com/sirocco/SiroccoPushService">
	<types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://i3g.com/schema/SiroccoPushService" xmlns:impl="http://i3g.com/schema/SiroccoPushService">
			<xsd:element name="PushMORequest" type="impl:PushMORequestArrayType"/>
			<xsd:complexType name="PushMORequestArrayType">
				<xsd:sequence>
					<xsd:element name="mo" type="impl:PushMORequestType" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="PushMORequestType">
				<xsd:sequence>
					<xsd:element type="xsd:string" name="guid" minOccurs="1" nillable="false" maxOccurs="1"/>
					<xsd:element type="xsd:int" name="isSMSCTime" minOccurs="1" nillable="false" maxOccurs="1"/>
					<xsd:element type="xsd:string" name="match" minOccurs="1" nillable="false" maxOccurs="1"/>
					<xsd:element type="xsd:string" name="msg" minOccurs="1" nillable="false" maxOccurs="1"/>
					<xsd:element type="xsd:string" name="msisdn" minOccurs="1" nillable="false" maxOccurs="1"/>
					<xsd:element type="xsd:string" name="operator" minOccurs="1" nillable="false" maxOccurs="1"/>
					<xsd:element type="xsd:string" name="rate" minOccurs="1" nillable="false" maxOccurs="1"/>
					<xsd:element type="xsd:string" name="service" minOccurs="1" nillable="false" maxOccurs="1"/>
					<xsd:element type="xsd:long" name="ts" minOccurs="1" nillable="false" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="PushMOResponse" type="impl:PushMOResponseArrayType"/>
			<xsd:complexType name="PushMOResponseArrayType">
				<xsd:sequence>
					<xsd:element name="moresponse" type="impl:PushMOResponseType" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="PushMOResponseType">
				<xsd:sequence>
					<xsd:element type="xsd:string" name="guid" minOccurs="1" nillable="false" maxOccurs="1"/>
					<xsd:element type="xsd:string" name="id" minOccurs="0" nillable="true" maxOccurs="1"/>
					<xsd:element type="xsd:string" name="replyMessage" minOccurs="0" nillable="true" maxOccurs="1"/>
					<xsd:element type="xsd:int" name="replyTo" minOccurs="0" nillable="true" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="PingRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="request" type="xsd:long"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="PingResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="response" type="xsd:long"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</types>
	<message name="onIncomingMessage">
		<part name="parameters" element="message-schema:PushMORequest"/>
	</message>
	<message name="onIncomingMessageResponse">
		<part name="parameters" element="message-schema:PushMOResponse"/>
	</message>
	<message name="ping">
		<part name="parameters" element="message-schema:PingRequest"/>
	</message>
	<message name="pingResponse">
		<part name="parameters" element="message-schema:PingResponse"/>
	</message>
	<portType name="RecepcionSmsBtPort">
		<operation name="onIncomingMessage">
			<input message="message-service:onIncomingMessage"/>
			<output message="message-service:onIncomingMessageResponse"/>
		</operation>
		<operation name="ping">
			<input message="message-service:ping"/>
			<output message="message-service:pingResponse"/>
		</operation>
	</portType>
	<binding name="RecepcionSmsBtBinding" type="message-service:RecepcionSmsBtPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="onIncomingMessage">
			<soap:operation soapAction="http://i3g.com/sirocco/SiroccoPushService/onIncomingMessage" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ping">
			<soap:operation soapAction="http://i3g.com/sirocco/SiroccoPushService/ping" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="Recepcion003Service">
		<port name="RecepcionSmsBtPort" binding="message-service:RecepcionSmsBtBinding">
			<soap:address location="/misim-bus-webapp/Recepcion003Service"/>
		</port>
	</service>
</definitions>
