misim-bus/misim-bus-webapp/src/main/webapp/WEB-INF/wsdl/recepcion-bt/wsdl_recepcion_estado.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:status-schema="http://i3g.com/schema/SiroccoPushStatusService" xmlns:status-service="http://i3g.com/sirocco/SiroccoPushStatusService" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://i3g.com/sirocco/SiroccoPushStatusService">
	<types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://i3g.com/schema/SiroccoPushStatusService" xmlns:impl="http://i3g.com/schema/SiroccoPushStatusService">

			<xsd:element name="PushStatusRequest">
				<xsd:complexType>			
					<xsd:sequence>
						<xsd:element name="principal" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="false"/>
						<xsd:element name="siroccoTime" type="xsd:long" minOccurs="1" maxOccurs="1" nillable="false"/>
						<xsd:element name="status" type="impl:PushStatusMessageHeaderArrayType" minOccurs="1" maxOccurs="1" nillable="false"/>
					</xsd:sequence>
				</xsd:complexType>				
			</xsd:element>
			
			<xsd:complexType name="PushStatusMessageHeaderArrayType">
				<xsd:sequence>
					<xsd:element name="PushStatusMessageHeader" type="impl:PushStatusMessageHeaderType" nillable="false" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="PushStatusMessageHeaderType">
				<xsd:sequence>
					<xsd:element name="guid" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="false"/>
					<xsd:element name="globalStatusCode" type="xsd:int" minOccurs="1" maxOccurs="1" nillable="false"/>
					<xsd:element name="globalStatus" type="xsd:int" minOccurs="1" maxOccurs="1" nillable="false"/>
					<xsd:element name="timestampFirst" type="xsd:long" minOccurs="1" maxOccurs="1" nillable="false"/>
					<xsd:element name="timestampLastUpdate" type="xsd:long" minOccurs="1" maxOccurs="1" nillable="false"/>
					<xsd:element name="detail" type="impl:PushStatusMessageDetailArrayType" minOccurs="1" maxOccurs="1" nillable="false"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="PushStatusMessageDetailArrayType">
				<xsd:sequence>
					<xsd:element name="PushStatusMessageDetail" type="impl:PushStatusMessageDetailType" nillable="false" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="PushStatusMessageDetailType">
				<xsd:sequence>
					<xsd:element name="st" type="xsd:int" minOccurs="1" maxOccurs="1" nillable="false"/>
					<xsd:element name="ts" type="xsd:long" minOccurs="1" maxOccurs="1" nillable="false"/>
					<xsd:element name="result" type="xsd:int" minOccurs="1" maxOccurs="1" nillable="false"/>
					<xsd:element name="code" type="xsd:int" minOccurs="1" maxOccurs="1" nillable="false"/>
					<xsd:element name="synthetic" type="xsd:boolean" minOccurs="1" maxOccurs="1" nillable="false"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:element name="PushStatusResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="response" type="xsd:int"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="PingRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="request" type="xsd:long"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="PingResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="response" type="xsd:long"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			
		</xsd:schema>
	</types>
	
	<message name="ping">
			<part name="parameters" element="status-schema:PingRequest"/>
	</message>
	
	<message name="pingResponse">
		<part name="parameters" element="status-schema:PingResponse"/>
	</message>
	
	<message name="onIncomingStatus">
		<part name="parameters" element="status-schema:PushStatusRequest"/>
	</message>
	
	<message name="onIncomingStatusResponse">
		<part name="parameters" element="status-schema:PushStatusResponse"/>
	</message>
	
	
	
	<portType name="RecepcionEstadoBtPort">
		<operation name="ping">
			<input message="status-service:ping"/>
			<output message="status-service:pingResponse"/>
		</operation>
		<operation name="onIncomingStatus">
			<input message="status-service:onIncomingStatus"/>
			<output message="status-service:onIncomingStatusResponse"/>
		</operation>
	</portType>
	
	
	<binding name="RecepcionEstadoBtBinding" type="status-service:RecepcionEstadoBtPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ping">
			<soap:operation soapAction="ping" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="onIncomingStatus">
			<soap:operation soapAction="onIncomingStatus" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	
	
	<service name="Recepcion004Service">
		<port name="RecepcionEstadoBtPort" binding="status-service:RecepcionEstadoBtBinding">
			<soap:address location="/misim-bus-webapp/Recepcion004Service"/>
		</port>
	</service>
</definitions>
