PlataformaMensajeriaWS/src/wsdl/envioNotificacionPush.wsdl

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://envionotificacionpush.ws.plataformamensajeria.minhap.es/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EnvioNotificacionPushImplService" targetNamespace="http://envionotificacionpush.ws.plataformamensajeria.minhap.es/">
	<wsdl:types>
		<xsd:schema xmlns:tns="http://envionotificacionpush.ws.plataformamensajeria.minhap.es/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://envionotificacionpush.ws.plataformamensajeria.minhap.es/">
			
			<xsd:element name="envioNotificacionPushRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="NombreLote" type="xsd:string"/>
						<xsd:element minOccurs="1" maxOccurs="1" name="Servicio" type="xsd:string"/>
						<xsd:element minOccurs="1" maxOccurs="1" name="Usuario" type="xsd:string"/>
						<xsd:element minOccurs="1" maxOccurs="1" name="Password" type="xsd:string"/>
						<xsd:element minOccurs="1" maxOccurs="1" name="MensajesNotificacion" type="tns:mensajesNotificacionType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:complexType name="mensajesNotificacionType">
				<xsd:sequence>
					<xsd:element minOccurs="1" maxOccurs='unbounded' name="MensajeNotificacion" type="tns:mensajeNotificacionType"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="mensajeNotificacionType">
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs="1" name="DocUsuario" type="xsd:string"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="CodSia" type="xsd:string"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="CodOrganismo" type="xsd:string"/>
					<xsd:element minOccurs="1" maxOccurs="1" name="IdExterno" type="xsd:string"/>
					<xsd:element minOccurs="1" maxOccurs="1" name="IdentificadorUsuario" type="xsd:string"/>
					<xsd:element minOccurs="1" maxOccurs="1" name="Titulo" type="xsd:string"/>
					<xsd:element minOccurs="1" maxOccurs="1" name="Cuerpo" type="xsd:string"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="Icono" type="xsd:string"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="Sonido" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:element name="envioNotificacionPushResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="IdLoteEnvio" type="xsd:string"/>
						<xsd:element minOccurs="1" maxOccurs="1" name="StatusCode" type="xsd:string"/>
						<xsd:element minOccurs="1" maxOccurs="1" name="StatusText" type="xsd:string"/>
						<xsd:element minOccurs="0" maxOccurs="1" name="Details" type="xsd:string"/>
						<xsd:element minOccurs="0" maxOccurs="1" name="Mensajes" type="tns:mensajesType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:complexType name="mensajesType">
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs='unbounded' name="Mensaje" type="tns:responseStatusType"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="responseStatusType">
				<xsd:sequence>
					<xsd:element minOccurs="1" maxOccurs="1" name="IdMensaje" type="xsd:string"/>
					<xsd:element minOccurs="1" maxOccurs="1" name="StatusCode" type="xsd:string"/>
					<xsd:element minOccurs="1" maxOccurs="1" name="StatusText" type="xsd:string"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="Details" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
		
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="envioNotificacionPushRequest">
		<wsdl:part element="tns:envioNotificacionPushRequest" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="envioNotificacionPushResponse">
		<wsdl:part element="tns:envioNotificacionPushResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:portType name="IEnvioNotificacionPushService">
		<wsdl:operation name="envioNotificacionPush">
			<wsdl:input message="tns:envioNotificacionPushRequest" name="envioNotificacionPushRequest"/>
			<wsdl:output message="tns:envioNotificacionPushResponse" name="envioNotificacionPushResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="EnvioNotificacionPushImplServiceSoapBinding" type="tns:IEnvioNotificacionPushService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="envioNotificacionPush">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="envioNotificacionPushRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="envioNotificacionPushResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="EnvioNotificacionPushImplService">
		<wsdl:port binding="tns:EnvioNotificacionPushImplServiceSoapBinding" name="EnvioNotificacionPushImplPort">
			<soap:address location="http://des-sim.redsara.es/PlataformaMensajeriaWS/EnvioNotificacionPush"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>