PlataformaMensajeriaWS/src/wsdl/respuestaSMS.wsdl

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://recepcion.ws.plataformamensajeria.minhap.es/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RecepcionMensajesImplService" targetNamespace="http://recepcion.ws.plataformamensajeria.minhap.es/">
	<wsdl:types>
		<xsd:schema xmlns:tns="http://recepcion.ws.plataformamensajeria.minhap.es/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://recepcion.ws.plataformamensajeria.minhap.es/">
			
			<xsd:element name="recibirSMSRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="User" type="xsd:string"/>
						<xsd:element minOccurs="1" maxOccurs="1" name="Password" type="xsd:string"/>
						<xsd:element minOccurs="1" maxOccurs="1" name="Sender" type="xsd:string"/>
						<xsd:element minOccurs="1" maxOccurs="1" name="Recipient" type="xsd:string"/>
						<xsd:element minOccurs="1" maxOccurs="1" name="MessageId" type="xsd:string"/>
						<xsd:element minOccurs="1" maxOccurs="1" name="SMSText" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="recibirSMSResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="Status" type="tns:responseStatusType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:complexType name="responseStatusType">
				<xsd:sequence>
					<xsd:element minOccurs="1" maxOccurs="1" name="StatusCode" type="xsd:string"/>
					<xsd:element minOccurs="1" maxOccurs="1" name="StatusText" type="xsd:string"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="Details" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
		
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="recibirSMSRequest">
		<wsdl:part element="tns:recibirSMSRequest" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="recibirSMSResponse">
		<wsdl:part element="tns:recibirSMSResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:portType name="IRecepcionMensajesService">
		<wsdl:operation name="recibirSMS">
			<wsdl:input message="tns:recibirSMSRequest" name="recibirSMSRequest"/>
			<wsdl:output message="tns:recibirSMSResponse" name="recibirSMSResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="RecepcionMensajesImplServiceSoapBinding" type="tns:IRecepcionMensajesService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="recibirSMS">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="recibirSMSRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="recibirSMSResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="RecepcionMensajesImplService">
		<wsdl:port binding="tns:RecepcionMensajesImplServiceSoapBinding" name="RecepcionMensajesImplPort">
			<soap:address location="http://des-sim.redsara.es/PlataformaMensajeriaWS/RecepcionMensajes"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>